.menuInicial{
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    .navAsegurados {
        @include size(100%, 40px);
        position: relative;
        padding: 0;
        .navAsegurados__botonDesplegable {
            border: none;
            position: absolute;
        }
        .navAsegurados__icon {
            font-size: 1rem;
        }
        .navAsegurados__logo {
            width: 100%;
            text-align: center;
            margin: 0;
            .navAsegurados__img-logo {
                @include size(130px, auto);
                text-align: center;
            }
        }
        .navAsegurados__barraDesplegable{
            padding: 10px;
            .navAsegurados__contenedorBarraDesplegable{
                margin: 5px 0 5px 10px;
                padding: 0 15px;
                border-left: 2px solid white;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                .navAsegurados__lista {
                    line-height: 1rem;
                    .navAsegurados__itemLista {
                        list-style: none;
                        .navAsegurados__enlaceLista{
                            color: $white;
                            &::after,
                            .after {
                                margin-left: 9.255rem;
                                background-image: url("../img/arrow-down.svg");
                                background-size: cover;
                            }
                        }
                        .navAsegurados__contenedorSubLista {
                            background-color: transparent;
                            border: none;
                            padding: 0;
                            margin: 0;
                            .navAsegurados__subLista {
                                padding: 0;
                                margin-left: 20px;
                                .navAsegurados__itemSubLista {
                                    list-style-type: disc;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

