.menuInicial{
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    .navAsegurados {
        @include size(100%, 40px);
        position: relative;
        padding: 0;
        @include media-breakpoint-between(lg, xl) {
            @include size(100%, 80px);
        }
        .navAsegurados__botonDesplegable {
            border: none;
            position: absolute;
        }
        .navAsegurados__icon {
            font-size: 1rem;
        }
        .navAsegurados__logo {
            width: 100%;
            text-align: center;
            margin: 0;
            @include media-breakpoint-up(lg) {
                width: 40%;
                text-align: left;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .navAsegurados__img-logo {
                @include size(130px, auto);
                text-align: center;
                @include media-breakpoint-up(lg) {
                    @include size(300px, auto);
                }
            }
        }
        .navAsegurados__barraDesplegable{
            padding: 10px;
            background-color: black;
            @include media-breakpoint-up(lg){
                width: 60%;
            }
            @include media-breakpoint-up(xl){
                background-color: transparent;
            }
            .navAsegurados__contenedorBarraDesplegable{
                margin: 5px 0 5px 10px;
                padding: 0 15px;
                border-left: 2px solid white;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                @include media-breakpoint-up(lg) {
                    width: 100%;
                    border: none;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                }
                .navAsegurados__lista {
                    line-height: 1rem;
                    @include media-breakpoint-up(lg) {
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                    }
                    .navAsegurados__itemLista {
                        list-style: none;
                        .navAsegurados__enlaceLista{
                            color: $white;
                            &::after,
                            .after {
                                margin-left: 9.255rem;
                            }
                            &--lg {
                                @include media-breakpoint-up(lg){
                                    line-height: 50px;
                                    font-size: 1.25rem;
                                    font-weight: 500;
                                    padding: 10px 20px;
                                    &::after {
                                        display: none;
                                    }
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                        .navAsegurados__contenedorSubLista {
                            background-color: transparent;
                            border: none;
                            padding: 0;
                            margin: 0;
                            @include media-breakpoint-up(lg){
                                background-color: rgb(46, 44, 44);
                                width: 100%;
                            }
                            .navAsegurados__subLista {
                                padding: 0;
                                margin-left: 20px;
                                @include media-breakpoint-up(lg){
                                    border-radius: initial;
                                    display: flex;
                                    margin-left: 11%;
                                    justify-content: start;
                                    align-items: center;
                                }
                                .navAsegurados__itemSubLista {
                                    list-style-type: disc;
                                    color: $white;
                                    @include media-breakpoint-up(lg){
                                        list-style: none;
                                        display: inline-block;
                                        :hover{
                                            background-color: #ccc;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

